
.nav ul copyright{
    padding-top:300px;
}
.img{
    margin-left:100px;
}
.font h1 {
    font-size: 40px;
    font-weight: 900;
    color: #8b7c5e;
    margin: 50px;
}
.weather h3 {
    font-size: 30px;
    font-weight: 900;
    color: #fff;
}

.weather {
    float: left;
    width: 32.5%;
    height: 300px;
    background: #F8D899;
    padding: 10px;
    position: relative;
    border-radius: 20px;
    box-shadow: 15px 25px 18px -10px rgba(0,0,0,0.15);
}

.weatherNow {
    width: 100%;
    height: 120px;
    position: relative;
    overflow: hidden;
    clear: both;
}

.weatherNowIcon,
.weatherNowDetail {
    float: left;
    width: 35%;
    height: 120px;
    position: relative;
}

    .weatherNowIcon img {
        width: 80%;
        height: auto;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

.weatherNowDetail {
    padding: 30px 0 0 20px;
}

    .weatherNowDetail h2 {
        font-size: 30px;
        font-weight: 900;
        color: #fff;
    }

    .weatherNowDetail p {
        font-size: 20px;
        font-weight: 600;
        color: #fff;
    }

.weatherNowTemp {
    float: left;
    width: 30%;
    height: 100px;
    padding: 20px 0 0 0;
}

    .weatherNowTemp p {
        font-size: 64px;
        color: #fff;
    }

.weatherWeek {
    width: 100%;
    height: 120px;
    background: #fad17f;
    position: absolute;
    left: 0;
    bottom: 0;
    clear: both;
    overflow: hidden;
    border-radius: 0 0 20px 20px;
}

    .weatherWeek p {
        font-size: 14px;
        font-weight: 900;
        color: #fff;
        line-height: 2.5;
    }

.weatherWeekDay {
    float: left;
    width: 14.285714%;
    height: 120px;
    text-align: center;
    border-right: 1px solid #fcf7ef;
}

.weatherWeekDayLast {
    border-right: none;
}

.weatherWeekDayFirst {
    background: #F8D899;
}

.weatherWeekIcon {
    width: 70%;
    margin: auto;
}

    .weatherWeekIcon img {
        width: 100%;
        height: auto;
    }
