@model IEnumerable<Weathersun8889.Admin>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.png">
    <link rel="icon" type="image/png" href="~/img/weathersun.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>晴穿搭</title>
    <link rel="stylesheet" href="~/background.css">
    <link rel="stylesheet" href="https://s1.pstatp.com/cdn/expire-1-y/tailwindcss/2.0.3/tailwind.min.css">
    <link rel="stylesheet" href="https://s3.pstatp.com/cdn/expire-1-y/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css">
</head>

@{
    ViewBag.Title = "管理員登入";
}

<body class="dwo h-screen overflow-hidden flex items-center justify-center">
    <form action="@Url.Action("AdminLogin")" method="post">
        <div class="bg">
            <img src="~/img/bg4.png">
        </div>
        <div class="min-h-screen flex items-center justify-center px-5 py-5">
            <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden">
                <div class="md:flex w-full">
                    <div class="w-full py-10 px-5 md:px-10">
                        <div class="text-center mb-10">
                            <h1 class="font-bold text-3xl text-gray-900">管理員登入</h1>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                <label for="exampleInputEmail1" class="text-xs font-semibold px-1">帳號</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-account-outline text-gray-400 text-lg"></i>
                                    </div>
                                    <input type="text" id="loginName" name="loginName" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-400" placeholder="請輸入帳號" value="" required="required">
                                </div>
                            </div>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                <label for="exampleInputPassword1" class="text-xs font-semibold px-1">密碼</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-lock-outline text-gray-400 text-lg"></i>
                                    </div>
                                    <input type="password" id="loginPwd" name="loginPwd" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-400" placeholder="請輸入密碼" value="" required="required">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="block w-full max-w-xs mx-auto bg-yellow-400 hover:bg-indigo-300 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">
                            登入
                        </button>
                        <p>&nbsp;</p>
                        <div>
                            <span style="color:red">@ViewBag.Message</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>

