
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.png">
    <link rel="icon" type="image/png" href="~/img/weathersun.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>晴穿搭</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <link rel="stylesheet" href="~/background.css">
    <link rel="stylesheet" href="https://s1.pstatp.com/cdn/expire-1-y/tailwindcss/2.0.3/tailwind.min.css">
    <link rel="stylesheet" href="https://s3.pstatp.com/cdn/expire-1-y/MaterialDesign-Webfont/5.9.55/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>
@{ ViewBag.Title = "忘記密碼"; }
<body class="dwo h-screen overflow-hidden flex items-center justify-center">
    <nav class="navbar navbar-expand-lg text-uppercase fixed-top">
        <div class="container">
            <a href="WebHomepage">
                <img width="80" src="~/img/logo-sun.PNG">
            </a>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="MemberLogin" style="color:darksalmon;font-size:24px"><strong>Go Back</strong> </a></li>
            </ul>
        </div>
    </nav>
    <form action="@Url.Action("ForgetPassword")" method="post">
        <div class="bg">
            <img src="~/img/bg4.png">
        </div>
        <div class="min-h-screen flex items-center justify-center px-5 py-5">
            <div class="bg-gray-100 text-gray-500 rounded-3xl shadow-xl w-full overflow-hidden">
                <div class="md:flex w-full">
                    <div class="w-full py-10 px-5 md:px-10">
                        <div class="text-center mb-10">
                            <h1 class="animate__animated animate__tada font-bold text-3xl text-gray-900">忘記密碼了嗎?</h1>
                        </div>
                        <div class="flex -mx-3">
                            <div class="w-full px-3 mb-12">
                                <label for="exampleInputEmail1" class="text-xs font-semibold px-1">輸入您的電子信箱</label>
                                <div class="flex">
                                    <div class="w-10 z-10 pl-1 text-center pointer-events-none flex items-center justify-center">
                                        <i class="mdi mdi-email-outline text-gray-400 text-lg"></i>
                                    </div>
                                    <input type="email" id="loginName" name="loginName" class="w-full -ml-10 pl-10 pr-3 py-2 rounded-lg border-2 border-gray-200 outline-none focus:border-yellow-400" placeholder="sample@xxxx.com" value="" required="required">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="block w-full max-w-xs mx-auto bg-yellow-400 hover:bg-indigo-300 focus:bg-indigo-700 text-white rounded-lg px-3 py-3 font-semibold">
                            送出並重設密碼
                        </button>
                        <div>
                            <span style="color:#f56767"><strong>@ViewBag.Msg</strong></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>


