@model IEnumerable<Weathersun8889.管理員>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.png">
    <link rel="icon" type="image/png" href="~/img/weathersun.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        晴穿搭
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <!-- CSS Files -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/paper-dashboard.css?v=2.0.1" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/demo/demo.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/background.css">
</head>

@{
    ViewBag.Title = "管理員登入";
}

<body>
    <div class="bg">
        <img src="~/img/bg img-1.png">
    </div>
    <div class="col-md-12">
        <p style="font-size:90px;font-family:'Times New Roman', Times, serif">Log in</p>
    </div>
    <div class="content">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-header">
                        <h2>管理員登入</h2>
                        <form action="@Url.Action("Index3")" method="post">
                            <div class="form-group">
                                <p><label for="exampleInputEmail1">帳號</label></p>
                                <p><input type="text" class="form-control" id="管理員帳號" name="loginName" placeholder="輸入帳號" value="" ,required="required"></p>
                            </div>
                            <div class="form-group">
                                <p><label for="exampleInputPassword1">密碼</label></p>
                                <p><input type="password" class="form-control" id="管理員密碼" name="loginPwd" placeholder="輸入密碼" value="" ,required="required"></p>
                            </div>
                            <div>
                                <p><button type="submit" class="btn btn-primary btn - round">登入</button></p>
                            </div>
                            <div>
                                <span style="color:red">@ViewBag.Message</span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="buton-inside" style="border-radius: 50%; background-color: #1E1C1C; height: 120px; width: 120px" href="Index2">
        <button class="button" style="border-radius: 50%; background-color: #FBEAFF; height: 110px; width: 110px; margin-left:0.5px; margin-right:0.5px; margin-top:0.5px; margin-bottom:0.5px"><a href="Index2" style="color:black"><strong style="font-size:40px">◀</strong></a></button>
    </div>
</body>


