<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.png">
    <link rel="icon" type="image/png" href="~/img/weathersun.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        晴穿搭
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="~/sidebar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="~/img/logo-sun.PNG" type="image/png">
    <link rel="stylesheet" href="~/item.css">
</head>

<body style="background-color:beige">
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <div class="row">
                    <img width="55" src="~/img/logo-sun.PNG">
                    <h3>Weathersun</h3>
                </div>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-home"></i>
                        <b>商家 (15筆)</b>
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            <a href="#"><img src="~/shoppics/adidas.jpg" width="30" />&nbsp;Adidas</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/caco.jpg" width="30" />&nbsp;Caco</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/carhartt.jpg" width="30" />&nbsp;Carhartt</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/goopi.png" width="30" />&nbsp;Goopi</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/GU.png" width="30" />&nbsp;GU</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/H&M.jpg" width="30" />&nbsp;H&M</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/lativ.png" width="30" />&nbsp;Lativ</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/levis.jpg" width="30" />&nbsp;Levis</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/muahmuah.jpg" width="30" />&nbsp;Muahmuah</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/Net.jpg" width="30" />&nbsp;Net</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/NIKE.jpg" width="30" />&nbsp;NIKE</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/puma.png" width="30" />&nbsp;Puma</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/reebok.png" width="30" />&nbsp;Reebok</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/Uniqlo.png" width="30" />&nbsp;Uniqlo</a>
                        </li>
                        <li>
                            <a href="#"><img src="~/shoppics/zara.jpg" width="30" />&nbsp;Zara</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-tshirt"></i>
                        <b>服飾 (4分類)</b>
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="#top" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>上衣</b></a>
                            <ul class="collapse list-unstyled" id="top">
                                <li>
                                    <a href="#"><b>All</b></a>
                                </li>
                                <li>
                                    <a href="Shop_Top_Shirt"><b>短袖</b></a>
                                </li>
                                <li>
                                    <a href="Shop_Top_LongShirt"><b>長袖</b></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#bottom" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>下身</b></a>
                            <ul class="collapse list-unstyled" id="bottom">
                                <li>
                                    <a href="#"><b>All</b></a>
                                </li>
                                <li>
                                    <a href="Shop_Bottom_Pants"><b>短褲</b></a>
                                </li>
                                <li>
                                    <a href="Shop_Bottom_LongPants"><b>長褲</b></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#dress" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>裙裝</b></a>
                            <ul class="collapse list-unstyled" id="dress">
                                <li>
                                    <a href="#"><b>All</b></a>
                                </li>
                                <li >
                                    <a href="Shop_Bottom_Dress"><b>洋裝</b></a>
                                </li>
                                <li>
                                    <a href="Shop_Bottom_Skirts"><b>裙子</b></a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#outer" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><b>外套</b></a>
                            <ul class="collapse list-unstyled" id="outer">
                                <li>
                                    <a href="#"><b>All</b></a>
                                </li>
                                <li>
                                    <a href="#"><b>大衣</b></a>
                                </li>
                                <li>
                                    <a href="#"><b>西裝</b></a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="MemberQA">
                        <i class="fas fa-question"></i>
                        <b>
                            常見問題
                        </b>
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn ">
                        <i class="fas fa-align-left"></i>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="Welcome" style="font-family:微軟正黑體"><b>首頁</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Calendar" style="font-family:微軟正黑體"><b>我的日記</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="Weather" style="font-family:微軟正黑體"><b>天氣</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="News" style="font-family:微軟正黑體"><b>新聞</b></a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="Shop" style="font-family:微軟正黑體"><b>商店</b></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="MemberLogin" style="font-family:微軟正黑體"><b>登出</b></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="product-area">
                <div class="container">
                    <h3>精選短袖</h3>
                    <div class="row">
                        <div class="col">
                            <div class="tab-content mt-60px">
                                <div class="tab-pane fade show active" id="tab-jewelry">

                                    <div class="row">
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.adidas.com.tw/product/36252627/H15828" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/Adidas.JPG" alt="Product" width="334" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/Adidas.JPG"
                                                             alt="Product" width="334" />
                                                    </a>
                                                    <span class="badges">
                                                        <span class="sale">Sale</span>
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.adidas.com.tw/product/36252627/H15828" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            NEXT GEN短版上衣
                                                        </a>
                                                        <!-- https://www.adidas.com.tw/product/36252627/H15828 -->
                                                    </h5>
                                                    <p>Adidas</p>
                                                    <span class="price">
                                                        <span class="sale" style="text-decoration:line-through; ">NT$1,290 </span>
                                                        <span class="sale" style="color:red;font-size:18px">NT$1,032 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.caco.com.tw/mainitem//C2DI003/30//caco-women-top26?pmotid=" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/caco.JPG" alt="Product" width="260" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/caco.JPG"
                                                             alt="Product" width="260" />
                                                    </a>
                                                    <span class="badges">
                                                        <span class="new">New</span>
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.caco.com.tw/mainitem//C2DI003/30//caco-women-top26?pmotid=" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            維尼愛心剪紙短T‧情侶款(女)
                                                        </a>
                                                        <!-- https://www.caco.com.tw/mainitem//C2DI003/30//caco-women-top26?pmotid= -->
                                                    </h5>
                                                    <p>Caco</p>
                                                    <span class="price">
                                                        <span class="new">NT$490 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www2.hm.com/zh_asia3/productpage.0980930002.html" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/hm.JPG" alt="Product" width="260" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/hm.JPG"
                                                             alt="Product" width="260" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www2.hm.com/zh_asia3/productpage.0980930002.html" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            短版羅紋上衣
                                                        </a>
                                                        <!-- https://www2.hm.com/zh_asia3/productpage.0980930002.html -->
                                                    </h5>
                                                    <p>H&M</p>
                                                    <span class="price">
                                                        <span class="new">NT$299 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.levis.com.tw/SalePage/Index/6446896" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/levis.JPG" alt="Product" width="330" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/levis.JPG"
                                                             alt="Product" width="330" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.levis.com.tw/SalePage/Index/6446896" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            復古Sportwear Logo
                                                        </a>
                                                        <!-- https://www.levis.com.tw/SalePage/Index/6446896 -->
                                                    </h5>
                                                    <p>Levis</p>
                                                    <span class="price">
                                                        <span class="new">NT$990 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-md-30px mb-lm-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://muahmuah.co.kr/product/detail.html?product_no=3176&cate_no=166&display_group=1" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/muah.JPG" alt="Product" width="256" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/muah.JPG"
                                                             alt="Product" width="256" />
                                                    </a>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://muahmuah.co.kr/product/detail.html?product_no=3176&cate_no=166&display_group=1" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            Chip and Dale Back Point T 恤
                                                        </a>
                                                        <!-- https://muahmuah.co.kr/product/detail.html?product_no=3176&cate_no=166&display_group=1 -->
                                                    </h5>
                                                    <p>Muahmuah</p>
                                                    <span class="price">
                                                        <span class="new">NT$284 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6  mb-md-30px mb-lm-30px">
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.net-fashion.net/product/348064" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/net.JPG" alt="Product" width="255" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/net.JPG"
                                                             alt="Product" width="255" />
                                                    </a>
                                                    <span class="badges">
                                                        <span class="sale">Sale</span>
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.net-fashion.net/product/348064" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            滿版印花圓領T恤
                                                        </a>
                                                        <!--  https://www.net-fashion.net/product/348064 -->
                                                    </h5>
                                                    <p>Net</p>
                                                    <span class="price">
                                                        <span class="sale" style="text-decoration:line-through; ">NT$259 </span>
                                                        <span class="sale" style="color:red;font-size:18px">NT$199 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6 mb-es-30px">
                                            <!-- Single Prodect -->
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.nike.com/tw/t/sportswear-%E7%94%B7%E5%8F%8B%E7%89%88-t-%E6%81%A4-4S8Ffd/DJ1835-100" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/nike.JPG" alt="Product" width="260" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/nike.JPG"
                                                             alt="Product" width="260" />
                                                    </a>

                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.nike.com/tw/t/sportswear-%E7%94%B7%E5%8F%8B%E7%89%88-t-%E6%81%A4-4S8Ffd/DJ1835-100" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            女款男友版 T 恤
                                                        </a>
                                                        <!--  https://www.nike.com/tw/t/sportswear-%E7%94%B7%E5%8F%8B%E7%89%88-t-%E6%81%A4-4S8Ffd/DJ1835-100 -->
                                                    </h5>
                                                    <p>Nike</p>
                                                    <span class="price">
                                                        <span class="new">NT$290 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-xl-3 col-md-6 col-sm-6 col-xs-6">
                                            <div class="product">
                                                <div class="thumb">
                                                    <a href="https://www.lativ.com.tw/Detail/52840011" target="_blank" class="image">
                                                        <img src="~/img/shop_top_shirt/lativ.JPG" alt="Product" width="270" />
                                                        <img class="hover-image" src="~/img/shop_top_shirt/lativ.JPG"
                                                             alt="Product" width="270" />
                                                    </a>
                                                    <span class="badges">
                                                        <span class="sale">Sale</span>
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    <h5 class="title">
                                                        <a href="https://www.lativ.com.tw/Detail/52840011" target="_blank" style="font-family:微軟正黑體;font-weight:900">
                                                            可口可樂羅紋配色印花T恤
                                                        </a>
                                                        <!--  https://www.lativ.com.tw/Detail/52840011 -->
                                                    </h5>
                                                    <p>Lativ</p>
                                                    <span class="price">
                                                        <span class="sale" style="text-decoration:line-through; ">NT$299 </span>
                                                        <span class="sale" style="color:red;font-size:18px">NT$168 </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vendor.min.js"></script>
    <script src="~/Scripts/plugins.min.js"></script>
    <script src="~/Scripts/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>

