<!DOCTYPE HTML>

<html>
<head>
    <title>晴穿搭</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title -晴穿搭</title>
    <link rel="sun-touch-icon" sizes="76x76" href="~/img/sun-icon.PNG">
    <link rel="icon" type="image/png" href="~/img/weathersun.PNG">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        晴穿搭
    </title>
    <link rel="stylesheet" href="~/welcome1.css">
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="is-preload">
    <div id="page-wrapper">
        <div id="wrapper">
            <section class="panel banner right">
                <div class="content color3 span-3-75">
                    <h1 class="major">
                        歡迎來到晴穿搭!
                    </h1>
                    <p><strong>往右滑開始記錄你的穿搭生活吧!</strong></p>
                    <ul class="actions">
                        <li><a href="#first"><i class="fas fa-chevron-circle-right" style="font-size:45px"></i></a></li>
                    </ul>
                </div>
                <div class="image filtered span-1-75" data-position="fixed">
                    <img src="~/img/189-Model-Fashion.PNG" alt="" />
                </div>
            </section>
            <section class="panel spotlight medium left" id="first">
                <div class="intro joined">
                    <h2 class="major">我的日記</h2>
                    <ul>
                        <li><a href="calendar" style="color:darksalmon;font-size:24px"><strong>去看看</strong> </a></li>
                    </ul>
                </div>
                <div class="image filtered tinted" data-position="fixed">
                    <img src="~/img/Millennials.PNG" alt="" />
                </div>
            </section>
            <section class="panel spotlight medium left">
                <div class="intro joined">
                    <h2 class="major">天氣</h2>
                    <ul>
                        <li><a href="Weather" style="color:darksalmon;font-size:24px"><strong>去看看</strong> </a></li>
                    </ul>
                </div>
                <div class="image filtered tinted" data-position="fixed">
                    <img src="~/img/198-Enjoying-Life.PNG" alt="" />
                </div>
            </section>
            <section class="panel spotlight medium left">
                <div class="intro joined ">
                    <h2 class="major">新聞</h2>
                    <ul>
                        <li><a href="Homepage" style="color:darksalmon;font-size:24px"><strong>去看看</strong> </a></li>
                    </ul>
                </div>
                <div class="image filtered tinted" data-position="fixed">
                    <img src="~/img/111-social-Media-Promotion.PNG" alt="" />
                </div>
            </section>
            <section class="panel spotlight medium left">
                <div class="intro joined ">
                    <h2 class="major">商城</h2>
                    <ul>
                        <li><a href="shop" style="color:darksalmon;font-size:24px"><strong>去看看</strong> </a></li>
                    </ul>
                </div>
                <div class="image filtered tinted" data-position="fixed">
                    <img src="~/img/61-Online-Shopping.PNG" alt="" />
                </div>
            </section>
        </div>
    </div>
    <script src="~/Scripts/js/jquery.min.js"></script>
    <script src="~/Scripts/js/browser.min.js"></script>
    <script src="~/Scripts/js/breakpoints.min.js"></script>
    <script src="~/Scripts/js/main.js"></script>
</body>
</html>
